---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import Logo from "../components/reducai/logo";
import About from "../components/reducai/about";
import Home from "../components/reducai/home";
import HowItWorks from "../components/reducai/how-it-works";
import Contact from "../components/reducai/contact";
import Navbar from "../components/reducai/navbar";
import Whatsapp from "../components/reducai/whatsapp";
---

<Layout title="Reducai">
	<main>
		<Navbar client:only />
		<Whatsapp client:load />
		<section>
			<section id="home" class="min-h-[calc(100vh-200px)]">
				<Home />
			</section>
			<section id="about">
				<About />
			</section>
			<section id="how-it-works">
				<HowItWorks />
			</section>
			<section id="courses">
				<p>home</p>
			</section>
			<section id="contact">
				<Contact />
			</section>
		</section>
	</main>
</Layout>

<style>
	main {
		@apply bg-gradient-to-b from-primary via-purple-500 to-primary/50 min-h-screen p-4;
	}
	#about,
	#courses,
	#contact,
	#how-it-works {
		@apply min-h-screen;
	}
	:global(html) {
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
		:global(html) {
			scroll-behavior: auto;
		}
	}
</style>
